@header-color: #444444;
@base-font-color: #fff;
@base-background-color: #fff;
@base-hover-color:#eee;
@base-active-color:#ddd;
@my-layout-border-color: #343434;

@content-header-background-color:#f2f2f2;
@content-border-color:#bbb;
//menu-color
@menu-hover-color:#636363;
@menu-active-color:#797979;
@menu-shortcut-key-color:#797979;

@tool-svg-size: 20px;

@1px-border: 1px solid @my-layout-border-color;

//size
@base-font-size: 14px;
@menu-font-size:15px;
@title-font-size:16px;

body {
  user-select: none;
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: rgba(50, 50, 50, 0.3);
  }
  ::-webkit-scrollbar-track {
    border-radius: 1em;
    background-color: rgba(50, 50, 50, 0.1);
  }
}

canvas {
  border: 0px;
  outline: none;
}

// 禁止选中文本
// body {
//   user-select: none;
//   ::-webkit-scrollbar {
//     width: 5px;
//     height: 5px;
//   }
//   ::-webkit-scrollbar-thumb {
//     border-radius: 1em;
//     background-color: rgba(50, 50, 50, 0.3);
//   }
//   ::-webkit-scrollbar-track {
//     border-radius: 1em;
//     background-color: rgba(50, 50, 50, 0.1);
//   }
// }

// canvas {
//   border: 0px;
//   outline: none;
// }
